<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        <h1>User-SignUp!</h1>
        <form action="/user/signUp" method="post">
            <label > FirstName: </label>
            <input type="text" required name="FirstName">
            <label > LastName: </label>
            <input type="text" required name="LastName">
            <label > UserName: </label>
            <input type="text" required name="UserName">
            <label > PassWord: </label>
            <input type="text" required name="Password">

            <button type="submit">Signup</button>
        </form>
    </div>
</body>
</html>